@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    border: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
      
      
}

html,body{

    background: rgb(244, 244, 244);
    width: 100%;
    height: 100%;
}
